:root {
    /* COLOURS */
    --white: #fff;
    --flash-white: #f7f7f7;
    --light-grey: #d4d4d4;
    --grey: #999999;
    --black: hsl(0, 0%, 18%);
    --red: hsl(356, 95%, 51%);
    --green: #0bb45f;
    --blue: hsl(217, 82%, 47%);
    --yellow: #e7af06;
    --orange: hsl(17, 75%, 51%);

    /* SHADES VAR #C51350; */
    --lightest: 2.4;
    --lighter: 1.6;
    --light: 1.4;
    --normal: 35%;
    --dark: 0.5%;
    --darker: 1.5%;

    --primary-color: var(--flash-white, ##f7f7f7);
    --primary-color-2: var(--white, #fff);
    --secondary-color: var(--black, #111111);

    /* Accent shades */
    /* --accent-color: #c51350; */

    --accent-hue: 339;
    --accent-saturation: 82%;
    --accent-color-lighter: hsl(
        var(--accent-hue),
        var(--accent-saturation),
        calc(35% * var(--lighter))
    );
    --accent-color-light: hsl(
        var(--accent-hue),
        var(--accent-saturation),
        calc(35% * var(--light))
    );
    --accent-color: hsl(var(--accent-hue), var(--accent-saturation), 42%);
    --accent-color-dark: hsl(
        var(--accent-hue),
        var(--accent-saturation),
        calc(35% - var(--dark))
    );
    --accent-color-darker: hsl(
        var(--accent-hue),
        var(--accent-saturation),
        calc(35% - var(--darker))
    );

    /* Buttons */
    --btn-primary-bg: var(--accent-color-light);
    --btn-primary-hover: var(--accent-color-lighter);
    --btn-primary-active: var(--accent-color-darker);

    --btn-secondary-bg: var(--black);
    --btn-secondary-hover: hsl(0, 0%, calc(12% * var(--lightest)));
    --btn-secondary-active: hsl(0, 0%, calc(12% - var(--darker)));

    --btn-danger-bg: var(--red);
    --btn-danger-hover: hsl(356, 95%, calc(51% * var(--light)));
    --btn-danger-active: hsl(356, 95%, calc(51% - var(--darker)));

    --btn-blue-bg: var(--blue);
    --btn-blue-hover: hsl(217, 82%, calc(47% * var(--light)));
    --btn-blue-active: hsl(217, 82%, calc(47% - var(--dark)));
}

.accent {
    color: var(--accent-color);
}
.black {
    color: var(--secondary-color);
}

.active {
    color: var(--accent-color-light) !important;
    font-weight: bold;
}

/* --------------------------------
Typography
-------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Bitter:400,700|Karla:400,500,700&display=swap");
:root {
    --font-primary: "Karla", sans-serif;
    --font-secondary: "Bitter", serif;
    --font-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", sans-serif;

    --color-link: var(--accent-color-darker);
    --color-text: var(--secondary-color);

    /* set base values */
    --text-base-size: 1.1em;
    --text-scale-ratio: 1.24;
    --baseline: 20px;

    --space-sm: calc(var(--baseline) / 2);
    --space-md: var(--baseline);
    --space-lg: calc(var(--baseline) * 2);
    --space-xl: calc(var(--baseline) * 3);

    /* type scale */
    --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(1em / var(--text-scale-ratio));
    --text-rg: calc(1em * var(--text-scale-ratio) + var(--text-scale-ratio));
    --text-md: calc(1em * var(--text-scale-ratio));
    --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(
        1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
            var(--text-scale-ratio)
    );
    --text-xxl: calc(
        1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
            var(--text-scale-ratio) * var(--text-scale-ratio)
    );
    --text-xxxl: calc(
        1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
            var(--text-scale-ratio) * var(--text-scale-ratio) *
            var(--text-scale-ratio)
    );

    /* line-height */
    --heading-line-height: 1.2;
    --body-line-height: 1.4;
}

body {
    font-size: var(--text-base-size);
    font-family: var(--font-primary), var(--font-fallback);
    color: var(--color-text);
}

h1,
h2,
h3,
h4,
form legend {
    color: var(--secondary-color);
    margin-bottom: var(--space-xxs);
    line-height: var(--heading-line-height);
    font-family: var(--font-secondary);
}

/*space*/
h1 {
    margin-bottom: var(--space-md); /*originaly var(--space-lg)*/
}

h2 {
    margin-bottom: var(--space-md);
}

p {
    margin-bottom: var(--space-sm);
}

/* text size */
.text--xxxl {
    font-size: var(--text-xxxl);
}

h1,
.text--xxl {
    font-size: var(--text-xxl);
}

h2,
.text--xl {
    font-size: var(--text-xl);
}

h3,
.text--lg {
    font-size: var(--text-lg);
}

h4,
.text--md {
    font-size: var(--text-md);
}

h5,
.text--rg {
    font-size: var(--text-rg);
}

.text--sm,
small {
    font-size: var(--text-sm);
}

.text--xs {
    font-size: var(--text-xs);
}

p {
    line-height: var(--body-line-height);
}

b,
strong {
    font-weight: bold;
}

h2,
h3,
h4 {
    margin-top: var(--space-sm);
}

ul,
ol,
p {
    margin-bottom: var(--space-md);
}

ul,
ol {
    list-style-position: outside;
    padding-left: 24px;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ul li,
ol li {
    line-height: var(--body-line-height);
}

em {
    font-style: italic;
}

u {
    text-decoration: underline;
}

/* utility classes */
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.truncate-wrapper {
    width: 220px;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* center text */
.text--left {
    text-align: left;
}

.text--center {
    text-align: center;
}

.text--right {
    text-align: right;
}

.text--bold {
    font-weight: bold;
}

.text--italic {
    font-style: italic;
}

.text--red {
    color: var(--red);
}

.text--yellow {
    color: var(--yellow);
}

.text--orange {
    color: var(--orange);
}

.text--green {
    color: var(--green);
}

.text--blue {
    color: var(--blue);
}

.text--white {
    color: var(--primary-color-2);
}

.text--accent-light {
    color: var(--accent-color-light);
}

.text--grey {
    color: var(--grey);
}

.text--black {
    color: var(--secondary-color);
}

/*Media Queries*/
@media only screen and (max-width: 600px) {
    :root {
        --text-base-size: 1em;
        --text-scale-ratio: 1.3;
    }
}

@media only screen and (max-width: 480px) {
    :root {
        --text-base-size: 1em;
        --text-scale-ratio: 1.2;
    }
}

:root {
    /* spacing values */

    --space-unit: 1.3em;

    --space-xxxs: calc(0.25 * var(--space-unit));

    --space-xxs: calc(0.375 * var(--space-unit));

    --space-xs: calc(0.5 * var(--space-unit));

    --space-sm: calc(0.75 * var(--space-unit));

    --space-md: calc(1.25 * var(--space-unit));

    --space-lg: calc(2 * var(--space-unit));

    --space-xl: calc(3.25 * var(--space-unit));

    --space-xxl: calc(5.25 * var(--space-unit));

    --space-xxxl: calc(8.5 * var(--space-unit));

    --space-hg: calc(12.25 * var(--space-unit));

    /* components padding */

    --component-padding: var(--space-sm);
    --radius: 4px;
}

/* vertical margins */

.margin-top--none {
    margin-top: 0em;
}
.margin-top,
.margin-top--md {
    margin-top: var(--space-md);
}

.margin-top--xxxs {
    margin-top: var(--space-xxxs);
}

.margin-top--xxs {
    margin-top: var(--space-xxs);
}

.margin-top--xs {
    margin-top: var(--space-xs);
}

.margin-top--sm {
    margin-top: var(--space-sm);
}

.margin-top--lg {
    margin-top: var(--space-lg);
}

.margin-top--xl {
    margin-top: var(--space-xl);
}

.margin-top--xxl {
    margin-top: var(--space-xxl);
}

.margin-top--xxxl {
    margin-top: var(--space-xxxl);
}

.margin-bottom--none {
    margin-bottom: 0em;
}

.margin-bottom,
.margin-bottom--md {
    margin-bottom: var(--space-md);
}

.margin-bottom--xxxs {
    margin-bottom: var(--space-xxxs);
}

.margin-bottom--xxs {
    margin-bottom: var(--space-xxs);
}

.margin-bottom--xs {
    margin-bottom: var(--space-xs);
}

.margin-bottom--sm {
    margin-bottom: var(--space-sm);
}

.margin-bottom--lg {
    margin-bottom: var(--space-lg);
}

.margin-bottom--xl {
    margin-bottom: var(--space-xl);
}

.margin-bottom--xxl {
    margin-bottom: var(--space-xxl);
}

.margin-bottom--xxxl {
    margin-bottom: var(--space-xxxl);
}

:root {
    --btn-font-size: 1em;
    --btn-radius: 4px;

    --animation: cubic-bezier(0.69, 0.03, 0.32, 0.84);
    --animation-time: 0.6s;
    --animation-duration: 0.5s;
}

.btn {
    display: inline-flex;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    line-height: 1;
    border: 2px solid transparent;

    padding: var(--space-xs) var(--space-sm);
    border-radius: var(--btn-radius);
    font-size: var(--btn-font-size);
    font-weight: 700;
    color: var(--white);

    transition-timing-function: var(--animation);
    -webkit-transition-timing-function: var(--animation);
    transition-duration: background var(--animation-duration);
    -webkit-transition-duration: background var(--animation-duration);
    transition: background var(--animation-time);
    -webkit-transition: background var(--animation-time);

    box-shadow: 0px 1px 2px rgba(46, 41, 51, 0.08),
        0px 2px 4px rgba(71, 63, 79, 0.08);
}

.btn:focus {
    border: 2px solid var(--focus-color);
}

.btn:hover {
    box-shadow: 0px 3px 3px rgba(46, 41, 51, 0.08),
        0px 2px 4px rgba(71, 63, 79, 0.08);
}

.btn:active {
    transform: translateY(2px);
}

/* themes */
.btn--primary {
    background-color: var(--btn-primary-bg);
    color: var(--white);
}
.btn--primary:visited {
    color: var(--white);
}

.btn--primary:hover {
    background-color: var(--btn-primary-hover);
}

.btn--primary:active {
    background-color: var(--btn-primary-active);
}

.btn--secondary {
    background-color: var(--btn-secondary-bg);
    color: var(--white);
}
.btn--secondary:visited {
    color: var(--white);
}

.btn--secondary:hover {
    background-color: var(--btn-secondary-hover);
    color: var(--white) !important;
}

.btn--secondary:active {
    background-color: var(--btn-secondary-active);
}

.btn--danger {
    background-color: var(--btn-danger-bg);
    color: var(--white);
}
.btn--danger:visited {
    color: var(--white);
}

.btn--danger:hover {
    background-color: var(--btn-danger-hover);
}

.btn--danger:active {
    background-color: var(--btn-danger-active);
}

.btn--blue {
    background-color: var(--btn-blue-bg);
    color: var(--white);
}
.btn--blue:visited {
    color: var(--white);
}

.btn--blue:hover {
    background-color: var(--btn-blue-hover);
}

.btn--blue:active {
    background-color: var(--btn-blue-active);
}

.btn:disabled {
    color: var(--white);
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.5;
    filter: grayscale(100%);
}

/* Sizes */

:root {
    --btn-sm: calc(var(--btn-font-size) - 0.2em);
    --btn-md: calc(var(--btn-font-size) + 0.2em);
    --btn-lg: calc(var(--btn-font-size) + 0.4em);
}

/* button size */
.btn--sm {
    font-size: var(--btn-sm);
}

.btn--md {
    font-size: var(--btn-rg);
}

.btn--lg {
    font-size: var(--btn-md);
}

.btn--full-width {
    display: flex;
    margin-right: 0px !important;
    width: 100%;
    justify-content: center;
}

/* group */
.btns {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: calc(var(--space-xs) -1);
}

.btns > * {
    margin-right: var(--space-xs);
    margin-bottom: var(--space-xs);
}

.btns:last-of-type {
    margin-right: 0;
}

.btn--bordered {
    display: inline-flex;
    white-space: nowrap;
    line-height: 1;
    border: 2px solid var(--secondary-color);
    background: none;
    padding: var(--space-xs) var(--space-sm);
    color: var(--secondary-color);
}

.btn--bordered:hover {
    background: var(--secondary-color);
    color: var(--primary-color-2);
}

.btn--bordered:disabled {
    color: var(--grey);
    border: 2px solid var(--grey);
}

.toast-info {
    background: #007bff !important;
}

.toast-success {
    background: var(--green) !important;
}

.toast-warning {
    background: var(--yellow) !important;
}

.toast-danger {
    background: var(--red) !important;
}

/* general */
.Toastify__close-button--default {
    color: var(--white) !important;
}
.Toastify__toast-container--top-right {
    top: 4em !important;
    z-index: 12;
}
.Toastify__toast {
    border-left: 8px solid #4c4c4c91 !important;
    border-radius: var(--radius) !important;
}
.Toastify__toast-body {
    color: var(--white);
    border-left: 8px solid transparent;
}

:root {
    --focus-color: var(--blue);
}
.skip_link {
    width: 1px;
    height: 0px;
    opacity: 0;
    padding: 0em;
    background: transparent;
    overflow: hidden;
    display: flex;
    color: #fff !important;
    z-index: 2;
    top: 62px;
    position: fixed;
}

.skip_link:focus {
    width: auto;
    text-decoration: none;
    max-width: 400px;
    height: auto;
    opacity: 1;
    padding: 1em;
    background: #2d2d2d;
    border: 3px solid white;
}

.skip_intro {
    list-style: none;
}

.skip_intro li {
    padding: 2px;
    margin-left: -28px;
}

kbd {
    background-color: #fff;
    border-color: hsla(210, 9%, 68%, 0.6);
    font-family: helvetica, arial, sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    color: rgba(19, 41, 63, 0.8);
    line-height: 1.41667;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 24px;
    padding: 0 0.5rem;
    border: 1px solid;
    border-radius: 0.25rem;
    box-shadow: 0 2px 1px hsla(210, 9%, 68%, 0.6);
    font-weight: 700;
    text-transform: lowercase;
}

*[data-accessible]:focus::after {
    content: attr(data-accessible);
    color: white;
    position: absolute;
    transform: translate(-40px, -57px);
    background: #2d2d2d;
    width: 100px;
    padding: 4px;
    text-overflow: initial;
}

*:focus {
    outline-color: var(--focus-color);
    outline-width: 2px;
}

@charset "UTF-8";

/*!
 * animate.css -https://daneden.github.io/animate.css/
 * Version - 3.7.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2019 Daniel Eden
 */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.animated.delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.animated.delay-3s {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.animated.delay-4s {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.animated.delay-5s {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.animated.fast {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
}

.animated.faster {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}

.animated.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.animated.slower {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

@media (print), (prefers-reduced-motion: reduce) {
    .animated {
        -webkit-animation-duration: 1ms !important;
        animation-duration: 1ms !important;
        -webkit-transition-duration: 1ms !important;
        transition-duration: 1ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
    }
}
