@import url("https://fonts.googleapis.com/css?family=Bitter:400,700|Karla:400,700&display=swap");
.grid-center {
    display: grid;
    justify-content: center;
    align-items: center;
}

.modal-overlay {
    position: fixed;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
    display: grid;
    align-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.445);
    transition-timing-function: ease-out cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 01.5s;
}

.modal-content {
    background-color: var(--primary-color, var(--anti-flash-white));
    margin: 12px auto;
    width: 60%;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: var(--radius);
}
@media only screen and (max-width: 730px) {
    .modal-content {
        margin: 0px auto;
        width: 80%;
    }
}
@media only screen and (max-width: 600px) {
    .modal-content {
        margin: 0px 0px;
        width: 100%;
        height: 100vh;
    }
}
