:root {
    --focus-color: var(--blue);
}
.skip_link {
    width: 1px;
    height: 0px;
    opacity: 0;
    padding: 0em;
    background: transparent;
    overflow: hidden;
    display: flex;
    color: #fff !important;
    z-index: 2;
    top: 62px;
    position: fixed;
}

.skip_link:focus {
    width: auto;
    text-decoration: none;
    max-width: 400px;
    height: auto;
    opacity: 1;
    padding: 1em;
    background: #2d2d2d;
    border: 3px solid white;
}

.skip_intro {
    list-style: none;
}

.skip_intro li {
    padding: 2px;
    margin-left: -28px;
}

kbd {
    background-color: #fff;
    border-color: hsla(210, 9%, 68%, 0.6);
    font-family: helvetica, arial, sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    color: rgba(19, 41, 63, 0.8);
    line-height: 1.41667;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 24px;
    padding: 0 0.5rem;
    border: 1px solid;
    border-radius: 0.25rem;
    box-shadow: 0 2px 1px hsla(210, 9%, 68%, 0.6);
    font-weight: 700;
    text-transform: lowercase;
}

*[data-accessible]:focus::after {
    content: attr(data-accessible);
    color: white;
    position: absolute;
    transform: translate(-40px, -57px);
    background: #2d2d2d;
    width: 100px;
    padding: 4px;
    text-overflow: initial;
}

*:focus {
    outline-color: var(--focus-color);
    outline-width: 2px;
}
