/* --------------------------------
Typography
-------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Bitter:400,700|Karla:400,500,700&display=swap");
:root {
    --font-primary: "Karla", sans-serif;
    --font-secondary: "Bitter", serif;
    --font-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", sans-serif;

    --color-link: var(--accent-color-darker);
    --color-text: var(--secondary-color);

    /* set base values */
    --text-base-size: 1.1em;
    --text-scale-ratio: 1.24;
    --baseline: 20px;

    --space-sm: calc(var(--baseline) / 2);
    --space-md: var(--baseline);
    --space-lg: calc(var(--baseline) * 2);
    --space-xl: calc(var(--baseline) * 3);

    /* type scale */
    --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(1em / var(--text-scale-ratio));
    --text-rg: calc(1em * var(--text-scale-ratio) + var(--text-scale-ratio));
    --text-md: calc(1em * var(--text-scale-ratio));
    --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(
        1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
            var(--text-scale-ratio)
    );
    --text-xxl: calc(
        1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
            var(--text-scale-ratio) * var(--text-scale-ratio)
    );
    --text-xxxl: calc(
        1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
            var(--text-scale-ratio) * var(--text-scale-ratio) *
            var(--text-scale-ratio)
    );

    /* line-height */
    --heading-line-height: 1.2;
    --body-line-height: 1.4;
}

body {
    font-size: var(--text-base-size);
    font-family: var(--font-primary), var(--font-fallback);
    color: var(--color-text);
}

h1,
h2,
h3,
h4,
form legend {
    color: var(--secondary-color);
    margin-bottom: var(--space-xxs);
    line-height: var(--heading-line-height);
    font-family: var(--font-secondary);
}

/*space*/
h1 {
    margin-bottom: var(--space-md); /*originaly var(--space-lg)*/
}

h2 {
    margin-bottom: var(--space-md);
}

p {
    margin-bottom: var(--space-sm);
}

/* text size */
.text--xxxl {
    font-size: var(--text-xxxl);
}

h1,
.text--xxl {
    font-size: var(--text-xxl);
}

h2,
.text--xl {
    font-size: var(--text-xl);
}

h3,
.text--lg {
    font-size: var(--text-lg);
}

h4,
.text--md {
    font-size: var(--text-md);
}

h5,
.text--rg {
    font-size: var(--text-rg);
}

.text--sm,
small {
    font-size: var(--text-sm);
}

.text--xs {
    font-size: var(--text-xs);
}

p {
    line-height: var(--body-line-height);
}

b,
strong {
    font-weight: bold;
}

h2,
h3,
h4 {
    margin-top: var(--space-sm);
}

ul,
ol,
p {
    margin-bottom: var(--space-md);
}

ul,
ol {
    list-style-position: outside;
    padding-left: 24px;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ul li,
ol li {
    line-height: var(--body-line-height);
}

em {
    font-style: italic;
}

u {
    text-decoration: underline;
}

/* utility classes */
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.truncate-wrapper {
    width: 220px;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* center text */
.text--left {
    text-align: left;
}

.text--center {
    text-align: center;
}

.text--right {
    text-align: right;
}

.text--bold {
    font-weight: bold;
}

.text--italic {
    font-style: italic;
}

.text--red {
    color: var(--red);
}

.text--yellow {
    color: var(--yellow);
}

.text--orange {
    color: var(--orange);
}

.text--green {
    color: var(--green);
}

.text--blue {
    color: var(--blue);
}

.text--white {
    color: var(--primary-color-2);
}

.text--accent-light {
    color: var(--accent-color-light);
}

.text--grey {
    color: var(--grey);
}

.text--black {
    color: var(--secondary-color);
}

/*Media Queries*/
@media only screen and (max-width: 600px) {
    :root {
        --text-base-size: 1em;
        --text-scale-ratio: 1.3;
    }
}

@media only screen and (max-width: 480px) {
    :root {
        --text-base-size: 1em;
        --text-scale-ratio: 1.2;
    }
}
